.promo {
  width: 100%;
  height: 200px;
  background-image: url(https://turntable.kagiso.io/images/morning-fog-1410976-1280x960.width-800.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
